<div class="container"><!--*ngIf="info$ | async as info; else loading"-->

  <div class="container-text">
    <img src="assets/urso-balao.png">

    <div>
      <h1 class="cha-rifa">Chá Rifa </h1>
      <h1 class="nome">Heloísa</h1>
    </div>

    <img src="assets/urso-flor.png">
  </div>

  <div style="text-align:center" class="grid-number">
    <h1>Prêmio de R$ 200</h1>
    <p>A cada número escolhido receba um brinde</p>
  </div>
  <app-grid-number (onSelectNumber)="onSelectNumber($event)" [info$]="info$"></app-grid-number>

  <div class="button">
    <button mat-raised-button color="primary" (click)="onClickAdd()"> Escolher número</button>
  </div>

  <div class="color-list">
    <div class="color-item" style="background-color: #6DB8FD;"></div>
    <p>Fralda P </p>
    <div class="color-item" style="background-color: #FFE792;"></div>
    <p>Fralda M </p>
    <div class="color-item" style="background-color: #FFA3F6;"></div>
    <p>Fralda G </p>
  </div>
</div>

<!--<ng-template #loading>-->
<!--  <app-loader label="Carregando..."></app-loader>-->
<!--</ng-template>-->
