<div class="container" ><!--*ngIf="info$ | async as info; else loading"-->

  <div style="text-align:center" class="grid-number">
    <h1>Prêmio de R$ 200</h1>
    <p>A cada número escolhido receba um brinde</p>
  </div>
  <app-grid-number></app-grid-number>

  <div class="button">
    <button mat-raised-button color="primary" (click)="onClickAdd()"> Escolher número </button>
  </div>

  <div class="color-list">
    <div class="color-item" style="background-color: #ff0000;"></div>
    <div class="color-item" style="background-color: #00ff00;"></div>
    <div class="color-item" style="background-color: #0000ff;"></div>
  </div>
</div>

<!--<ng-template #loading>-->
<!--  <app-loader label="Carregando..."></app-loader>-->
<!--</ng-template>-->
