@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

.grid-number {
  h1 {
    font-weight: bolder;
    font-family: 'Alatsi', sans-serif;
    margin: 0;
  }

  p {
    margin: 0 0 10px 0;
    font-family: 'Alata', sans-serif;
  }
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.color-list {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.color-item {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.container-text {
  display: flex;
  justify-content:space-around;
  margin-top: 30px;
  align-items: center;

  .cha-rifa {
    font-family: 'Carter One', sans-serif;
    font-size: 32px;
    color: var(--text-body);
  }

  .nome{
    font-family: 'Luxurious Script', sans-serif;
    font-size: 32px;
    color:var(--heloisa);
  }

  img {
    width: 30%;
    margin: 0;
    padding: 0;
  }
}

