@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

.grid-number {
  h1 {
    font-weight: bolder;
    font-family: 'Alatsi', sans-serif;
    margin: 0;
  }

  .sorteio {
    margin: 0;
    font-family: 'Alata', sans-serif;
  }

  .limite{
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
  }
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.color-list {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;

  .color-item {
    width: 28px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
  }

  p {
    padding-right: 10px;
    margin: 0;
    font-family: 'Alatsi', sans-serif;
    color: var(--text-body);
    font-size: 15px;
  }
}

.container-text {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;

  .cha-rifa {
    font-family: 'Carter One', sans-serif;
    font-size: 32px;
    color: var(--text-body);
    margin: 0;
  }

  .nome {
    font-family: 'Luxurious Script', sans-serif;
    font-size: 32px;
    color: var(--heloisa);
    margin: 0;
    text-shadow: 1px 1px 2px var(--text-body);
    text-align: center;
  }

  img {
    width: 30%;
  }
}

