<form #form="ngForm" (ngSubmit)="onSubmit()" class="info-add">
  <h2 mat-dialog-title>Confirmar informações</h2>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Número desejado</mat-label>
      <input name="numero" matInput [(ngModel)]="info.numeroSelecionado" required/>
      @if (emailFormControl.hasError('required')) {
        <mat-error>Número é <strong>obrigatório</strong></mat-error>
      }
      <mat-icon matPrefix>mobile_friendly</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input name="nome" matInput [(ngModel)]="info.nome" required/>
      @if (emailFormControl.hasError('required')) {
        <mat-error>Nome é <strong>obrigatório</strong></mat-error>
      }
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input name="email" type="email" matInput [formControl]="emailFormControl" required/>
      @if (emailFormControl.hasError('email')) {
        <mat-error>Email válido, por favor.</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email é <strong>obrigatório</strong></mat-error>
      }
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Whatsapp</mat-label>
      <input name="celular" matInput [(ngModel)]="info.celular" required/>
      @if (emailFormControl.hasError('required')) {
        <mat-error>Número do whatsapp é <strong>obrigatório</strong></mat-error>
      }
      <mat-icon matPrefix>smartphone</mat-icon>
    </mat-form-field>
  </div>
  <br/>
  <button mat-raised-button color="primary" [disabled]="form.invalid"> Salvar</button>
</form>
