<form [formGroup]="formControl" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title class="h2">Número escolhido: {{numberSelect}}</h2>
  <div mat-dialog-content class="formContainer">
    <mat-form-field appearance="outline">
      <mat-label class="label">Nome</mat-label>
      <input class="white-text" matInput placeholder="Seu nome" formControlName="nome" required/>
      <mat-error *ngIf="formControl.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="label">Email (opcional)</mat-label>
      <input class="white-text" matInput placeholder="Example@gmail.com" formControlName="email"/>
      <mat-error *ngIf="formControl.get('email')?.errors?.['email']">Email inválido</mat-error>
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="label">Whatsapp</mat-label>
      <input class="white-text" matInput placeholder="(88) 99237-3721" formControlName="whatsapp" required/>
      <mat-error *ngIf="formControl.get('whatsapp')?.errors?.['required']">Campo obrigatório</mat-error>
      <mat-error *ngIf="formControl.get('whatsapp')?.errors?.['minlength']">mínimo de 11 números</mat-error>
      <mat-icon matPrefix>smartphone</mat-icon>
    </mat-form-field>
  </div>
  <br/>
  <button mat-raised-button color="primary" [disabled]="formControl.invalid"> Salvar </button>
</form>
