@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: roboto, Arial, Helvetica, sans-serif;
  button{
    background: none;
    cursor: pointer;
  }
}

:root {
  --header: white;
  --primary: #1976D2;
  --body1: #F4D8FE;
  --body2: #FFFFFF;
  --text-menu: #FFFFFF;
  --text-body: #000000;
}

:root .dark-theme {
  --header: #EB8FED;
  --primary: pink;
  --body1: #000000;
  --body2: #F696F8;
  --text-menu: #FFFFFF;
  --text-body: #FFFFFF;
}

body {
  background-image: linear-gradient(to top, var(--body1), var(--body2));
  height: 100vh;
}

.container{
  width: 100%;
  margin: 0 auto;

  h1{
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0 10px;
  }

  p{
    font-size: 16px;
  }

  h1,p{
    color: var(--text-body);
  }
}

html, body { height: 100%; }

@media (max-width: 600px) {
  overflow: hidden;
}
